Created by:刘思扬
<!DOCTYPE html>
<html>
    <head>
        <title>这是一个标题</title>
    </head>
    <body>
        这里是页内容
        <h1>一级标题</h1>
        <h2>二级标题</h2>
        <h3>三级标题</h3>
        <p>这是一个段落</p>
        <span>这是一个行内文本</span>
        <strong>加粗字体！</strong>
        <em>斜体emm...</em>
        <p></p>
        <a href="https://www.baidu.com">点击跳转百度</a>
        <a href="https://www.baidu.com">?</a>
        <p></p>
        <ul>
            <li>嗨</li>
            <li>嗨嗨</li>
            <li>嗨嗨嗨</li>
            <li>嗨嗨嗨嗨</li>
            <li>嗨嗨嗨嗨哈</li>
            <li>嗨嗨嗨</li>
            <li>嗨嗨</li>
            <li>嗨</li>
        </ul>
        <ol>
            <li>first</li>
            <li>second</li>
            <li>third</li>
        </ol>
        <table>
            <thead>
                <tr>
                    <th>表头1</th>
                    <th>表头2</th>
                    <th>表头3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>数据1</td>
                    <td>数据2</td>
                    <td>数据3</td>
                    <td>数据4</td>
                </tr>
                <tr>
                    <td>你好！！！！！</td>
                    <td></td>
                    <td>嗨嗨嗨</td>
                </tr>
            </tbody>
        </table>
        <p>这是一个表单</p>
        <form method="'post" action="'/submit/">
            <label>用户名：</label>
            <input type="text" name="username">

            <label>密码：</label>
            <input type="password" name="password">
            <button type="submit">提交</button> 
        </form>
        <div>这是一个块级容器，独占一行</div>
    </body>
</html>